html,body{
	border:0;
	padding:0;
	background:#0c0f12;
}

main{
	width:900px;
	height:600px;
	position:absolute;
	background:#000;
	left:50%;
	top:50%;
	margin-left:-450px;
	margin-top:-300px;
	color:#d3cbf8;
	text-align:center;
	line-height:600px;
	background:url('bg.png');
}

div.player{
	width:48px;
	height:64px;
	background:red;
}
div.player.happy{
	background:green;
}
div.player.die{
	background:green;
}
div.player.full_salt{
	background:green;
}
div.player.plant{
	background:green;
}
div.player.worry{
	background:green;
}

div.plant{
	background:transparent;
	width:64px;
	height:64px;
	transition:background 0.2s linear;
}
div.plant.spawn{
	background:url('hp5.png');
}
div.plant.hp5{
	background:url('hp5.png');
}
div.plant.hp4{
	background:url('hp4.png');
}
div.plant.hp3{
	background:url('hp3.png');
}
div.plant.hp2{
	background:url('hp2.png');
}
div.plant.hp1{
	background:url('hp1.png');
}
div.plant.die{
	background:blue;
}
